.stepper {
    padding: 32px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/bg-sidebar-desktop.svg');

    .stepper-wrapper {
        gap: 16px;
    }
}